.manufacturer{
    color: white;
    -webkit-text-stroke: 1px black;
    background-color: #003A6C;
    display: block;
}

.m-bg{
    background-color: #003A6C;
}
  

  

.pic{
    max-width: 100%;
    max-height: 100%;
    display: block;
}


@media (min-width: 300px) {
    .desc{
        display: block;
        font-size: 3vw;
        -webkit-text-stroke: 1px black;
    }
    .card-container {
        width: 30vw;
        height: 30vw;
        border: 1px solid rgba(0,0,.125);
        margin: 0 auto;
        border-radius: 5px;
        overflow: hidden;
      }
  }


@media (min-width: 900px) {
    .desc{
        display: block;
        font-size: 2vw;
    }
    .card-container {
        width: 20vw;
        height: 20vw;
        border: 1px solid rgba(0,0,.125);
        margin: 0 auto;
        border-radius: 5px;
        overflow: hidden;
      }
}
.im {
    transition: transform .2s;
    margin: 0 auto;
  }
    
  .im:hover {
    transform: scale(1.1);
  }